* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background: url(img/background.jpg) 100% 100% no-repeat;
  background-size: cover;
}

.head {
  padding-left: 120px;
}
.head__title {
  font-family: "Montserrat";
  font-style: normal;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.head__title-big {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  display: flex;
  align-items: center;
  padding-top: 217px;
  padding-bottom: 32px;
}
.head__title-text {
  width: 481px;
  height: 64px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 44px;
}
.head__link {
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  text-decoration: none;
}
.head__link:hover {
  text-decoration: underline;
}
.head__button {
  width: 234px;
  height: 48px;
  background: #9C0332;
  border-radius: 30px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: #FFFFFF;
}

.button-hover:hover {
  background: #EB443F;
  color: #FFFFFF;
  transition: all 1s;
  cursor: pointer;
}

.cart {
  height: 556px;
  background-size: cover;
  background-color: #000915;
  padding-top: 128px;
}
.cart-wrapp {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  gap: 32px;
}
.cart__item {
  display: block;
  position: relative;
  width: 379px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cart__item:hover {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
  border: 3px solid #44D2FF;
  border-radius: 17px;
  transition: all 0.3s;
  transform: scale(1.05);
}
.cart__text {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 24px;
  line-height: 32px;
  font-family: "Montserrat";
  font-style: normal;
  color: #FFFFFF;
  width: 588px;
  height: 64px;
}
.cart__img {
  border-radius: 17px;
  width: 100%;
}

.page {
  height: 800px;
  background: #000915;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.page__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}
.page__title-big {
  width: 377px;
  height: 59px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.page__text {
  font-family: "Montserrat";
  width: 584px;
  height: 64px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.page__button {
  width: 234px;
  height: 48px;
  left: 0px;
  top: 187px;
  background: #9C0332;
  border-radius: 30px;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-family: "Montserrat";
}
.page__mob-img {
  display: none;
}

.box {
  height: 800px;
  background: #000915;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 135px;
       column-gap: 135px;
}
.box__mob-img {
  display: none;
}
.box__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}
.box__title-big {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.box__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.box__button {
  background: #9C0332;
  border-radius: 30px;
  width: 240px;
  height: 48px;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-family: "Montserrat";
}

@media only screen and (max-width: 378px) {
  .center {
    padding-left: calc(50% - 155px);
    padding-right: calc(50% - 155px);
  }
  .top {
    height: 735px;
  }
  .head {
    display: flex;
    padding-top: 138px;
    padding-left: 16px;
    padding-bottom: 238px;
    padding-right: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 735px;
  }
  .head__title {
    width: 343px;
  }
  .head__title-big {
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 343px;
    height: 77px;
  }
  .head__title-text {
    width: 343px;
    height: 66px;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .head__button {
    display: flex;
    align-items: center;
    width: 234px;
    height: 48px;
  }
  .cart {
    height: 1221px;
    background-size: cover;
    background-color: #000915;
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .cart-wrapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 32px;
    align-content: center;
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .cart__item {
    width: 343px;
    height: 245px;
  }
  .cart__text {
    bottom: 32px;
  }
  .page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 654px;
  }
  .page__title-big {
    width: 266px;
    height: 49px;
    font-size: 32px;
    line-height: 39px;
  }
  .page__text {
    width: 343px;
    height: 66px;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .page__box {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .page__img {
    display: none;
  }
  .page__mob-img {
    display: flex;
    padding-bottom: 85px;
  }
  .page__button {
    width: 234px;
    height: 48px;
  }
  .box {
    height: 653px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .box__img {
    display: none;
  }
  .box__mob-img {
    display: flex;
    padding-bottom: 85px;
  }
  .box__title {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .box__title-big {
    width: 264px;
    height: 39px;
    font-size: 32px;
    line-height: 39px;
  }
  .box__text {
    width: 343px;
    height: 66px;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .box__button {
    width: 234px;
    height: 48px;
  }
}/*# sourceMappingURL=style.css.map */